
header, .today, #menu{
    background-color: #2b81af;
    color:white;
}


.event {
    background-color: gold;
}

.event .eventRow{
    background-color:  rgba(150,0,0, 0.2);

}

.cell{
    background-color: #fbfbfb;
}

.event .moreInfo .header {
    background-color: #2b81af ;
    color: #ffffff;
}

a:active, a:visited, a:hover, a:link{
    color: #222222;
}

.list a:active,.list a:visited,.list a:hover,.list a:link, #classSearch input, #classSearch {
    color: #222222;
}

.top ul, .top form button, .courseItem input, .top input[type=submit]{
    color: #555555;
}

.liuLogin{
    color: white;
}


