#stats #table {
    display: table;
    table-layout: fixed;
    width: 600px;
}

#stats .row{
    display: table-row;
}

#stats .cell{
    display: table-cell;
    padding: 1px;
    text-align: right;
    border: 1px solid lightgray;
}



