body, html{
    height: 100%;
    margin:0;
    padding:0;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9em;
}

.table {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 100%;
    position: absolute;
    top:50px;
}

.row {
    display: table-row;
}

.cell {
    display: table-cell;
    border-width: 0 1px;
    position: relative;
    text-align: center;
}

header {
    height: 50px;
    z-index: 70;
    position: fixed;
    width: 100%;
    display: table;
    table-layout: fixed;
}

header #row{
    display: table-row;
}

header div {
    display: table-cell;
    padding: 0 10px;
    vertical-align: bottom;
}

header div #middle{
    width:70%;
    text-align:center;
}

header div h1, header div button{
    margin: 5px;
}

header div img{
    width: 30px;
    height: 30px;
    margin-top: 10px;
}

header #right{
    float:right;
    text-align: right;
}

h1 {
    margin: 0;
    padding: 0;
}

.weekdayHeader{
    width: 100%;
    height: 20px;
    border-width: 0 0 2px 0;
    padding-bottom: 0;
    border-radius: 0 0 10px 10px;
    margin-top: -1px;
}

.weekdayContent{
    height: calc(100% - 24px);
    position: relative;
}

.fp-controlArrow{
    display: none;
}


.cell, .weekdayHeader{
    border: 0;
    border-color: #06B700;
    border-style: solid;
    -webkit-box-shadow: inset 0px 0px 1px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 0px 1px 0px rgba(0,0,0,0.75);
    box-shadow: inset 0px 0px 1px 0px rgba(0,0,0,0.75);
}

header, .today{
    background-color: #2b81af;
    color:white;
}


.event {
    background-color: gold;
}

.event .eventRow{
    background-color:  rgba(150,0,0, 0.2);

}

.cell{
    background-color: #fbfbfb;
}
